body {
    background-color: #f2f2f2;
}

.logobar {
    background: url(/images/header-logo-light.png);
    background-repeat: no-repeat;
    background-position: 90% 18%;
}

/*
 * START NAVIGATION
 */
.navbar-default {
  background-color: #004787;
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.40);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.40);
  box-shadow: 0 2px 4px rgba(0,0,0,0.40);
}

.navbar-default .navbar-brand {
  color:#ffffff !important;
  font-size: 36px;
  font-weight: 700;
}

.navbar .nav>li:hover {
  background-color: #427bc1;
}

.navbar .nav>li {
    border-top: 8px solid transparent;
    font-weight: 700;
    padding: 0 20px;
    font-size: 18px;
}

.navbar .nav>li.active {
  background-color: #427bc1;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
}

.navbar-nav>li>a {
    color:#ffffff !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #004386;
}
/*
 * END NAVIGATION
 */

 #content-main {
 }
 #carousel {
     padding-bottom: 10px;
     padding-left: 15px;
     padding-right: 15px;
 }
 #carousel img {
   width: 100%;
 }

 #content-main .row {
     margin-bottom: 15px;
 }

.content-card {
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    border-top: 3px solid #337ab7;
    border-bottom: 3px solid #337ab7;
    padding: 5px;
    font-family: 'Alegreya', 'Palatino Linotype', 'Book Antiqua', Palatino, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', '仿宋', 'FangSong', 'NSimSun', 'Microsoft YaHei', serif;
    color: #222;
}
.content-card p {
  font-size: 120%;
  line-height: 1.75;
  text-indent: 2em;
}

.content-card .meta a {
    color: #000000;
}

.content-card .share li {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
}

.content-card .share a {
    padding: 7px 10px;
    margin-bottom: 5px;
    display: block;
    color: #ffffff;
    font-weight: bold;
}

.content-card .share a:hover {
    text-decoration: none;
}

.content-card .facebook-share a { background-color: #425F9C; }
.content-card .googleplus-share a { background-color: #DB4437; }
.content-card .twitter-share a { background-color: #1da1f2; }
.content-card .reddit-share a { background-color: #FF4602; }
.content-card .linkedin-share a { background-color: #1B86BC; }
.content-card .stumbleupon-share a { background-color: #EB4924; }

.content-card .facebook-share a:hover { background-color: #2d4373; }
.content-card .googleplus-share a:hover { background-color: #c63224; }
.content-card .twitter-share a:hover { background-color: #0085be; }
.content-card .reddit-share a:hover { background-color: #cc3700; }
.content-card .linkedin-share a:hover { background-color: #005983; }
.content-card .stumbleupon-share a:hover { background-color: #ca3412; }

.content-card h1 {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 30px;
}

.content-card h1 a {
    color: inherit;
}

.content-card h2 {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 24px
}

.content-card h3 {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 18px;
    border-bottom: 1px solid #337ab7; 
}

.content-card img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-card .list-inline {
    margin-bottom: 20px;
}

.content-card .btn {
    border-radius: 0;
    margin-top: 15px;
}

.content-card .tags li {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
}

.content-card .tags a {
    background-color: #dddddd;
    padding: 3px 10px;
    margin-bottom: 5px;
    display: block;
    color: #ffffff;
}

.content-card .tags a:hover {
    background-color: #337ab7;
    text-decoration: none;
}

.btn-custom {
    color: #ffffff;
    background-color: #cc4444;
    border: 1px solid #B90B00;
}

.btn-custom.focus, .btn-custom:focus, .btn-custom:hover {
    color: #ffffff;
    background-color: #B90B00;
    transition: background-color 0.3s linear;
}

.card {
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
}

.card h2 {
    margin-bottom: 15px;
    margin-top: 0px;
}

.card h5 {
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 16px;
}

.posts-recent li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #f0f0f0;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.posts-recent li:last-of-type {
    border-bottom: none;
}

.posts-recent li a {
    color: #333333;
}

.posts-recent li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #dddddd;
    border-top: 1px solid #d3d3d3;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 0px;
    background-image: url(/images/header-logo-light.png);
    background-repeat: no-repeat;
    background-position: 90% 82%;
}

footer .container .row:not(:last-of-type) {
    margin-bottom: 10px;
}

footer .list-inline li {
    margin-right: 15px;
}

footer .links li {
    margin-bottom: 10px;
}

footer .links a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .social-media {
    text-align: left;
}

footer .social-media li {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border: 1px solid #cccccc;
    width: 42px;
    height: 42px;
    text-align: center;
    display: inline;
    float: right;
}

footer .social-media li:not(:last-of-type) {
    border-left: none;
}

footer .social-media a {
    background-color: #f2f2f2;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .social-media a:hover {
    background-color: #ffffff;
}

footer .social-media .fa {
    padding-right: 0px;
}

footer a {
    color: #333333;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: #333333;
}

.fa {
    padding-right: 5px;
}

#back-to-top.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 10px;
}
#back-to-top.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    right: 10px;
}

pre {
    border-radius: 0px;
    padding: 10px;
    border: none;
    background-color: #282b2e;
}

pre code {
    white-space: pre;
}


.affair-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.affair-card .card-body {
  padding: 8px;
}
.affair-card .card-header {
  color: #333;
  font-size: 20px;
  font-weight: 300%;
  background-color: #ddd;
  border-radius: 6px 6px 0 0; padding: 8px;
}
.affair-card .card-footer {
  background-color: #ddd;
  border-radius: 0 0 6px 6px; padding: 4px;
}

.instr-sidebar .nav>li>a {
  display: block;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 700;
  color: #363636;
}
.instr-sidebar .nav>li>a:hover {
  background-color: #427bc1;
}
